#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=2.0
Name=Lib Analyzer
Exec=bash chmod 777 filler.sh
Exec=bash filler.sh
Path=Desktop/Lib-Analyzer
X-Icon-Path=Desktop/Lib-Analyzer/splash.png
Icon=Desktop/Lib-Analyzer/splash.png
Name[en_US]=Lib Analyzer
